<fieldset class="padded">
<form id="user_form" enctype="application/x-www-form-urlencoded" action="" method="post"><dl class="zend_form">

    <input type="hidden" name="user_id" value="" id="user_id" />
    <dt id="login-label"><label for="login" class="required">Username:</label></dt>
    <dd id="login-element">
    <input type="text" name="login" id="login" value="<%- login %>" class="input_text" /></dd>
    <dt id="password-label"><label for="password" class="required">Password:</label></dt>
    <dd id="password-element">
    <input type="password" name="password" id="password" value="xxxxxx" class="input_text" /></dd>
    <dt id="first_name-label"><label for="first_name" class="optional">Firstname:</label></dt>
    <dd id="first_name-element">
    <input type="text" name="first_name" id="first_name" value="<%- first_name %>" class="input_text" /></dd>
    <dt id="last_name-label"><label for="last_name" class="optional">Lastname:</label></dt>
    <dd id="last_name-element">
    <input type="text" name="last_name" id="last_name" value="<%- last_name %>" class="input_text" /></dd>
    <dt id="email-label"><label for="email" class="required">Email:</label></dt>
    <dd id="email-element">
    <input type="text" name="email" id="email" value="<%- email %>" class="input_text" /></dd>
    <dt id="cell_phone-label"><label for="cell_phone" class="optional">Mobile Phone:</label></dt>
    <dd id="cell_phone-element">
    <input type="text" name="cell_phone" id="cell_phone" value="<%- cell_phone %>" class="input_text" /></dd>
    <dt id="skype-label"><label for="skype" class="optional">Skype:</label></dt>
    <dd id="skype-element">
    <input type="text" name="skype" id="skype" value="<%- skype_contact %>" class="input_text" /></dd>
    <dt id="jabber-label"><label for="jabber" class="optional">Jabber:</label></dt>
    <dd id="jabber-element">
    <input type="text" name="jabber" id="jabber" value="<%- jabber_contact %>" class="input_text" /></dd>
    <dt id="type-label"><label for="type" class="required">User Type:</label></dt>
    <dd id="type-element">
    <select name="type" id="type" class="input_select" style="width: 40%">
        <option value="G" label="Guest">Guest</option>
        <option value="H" label="DJ">DJ</option>
        <option value="P" label="Program Manager">Program Manager</option>
        <option value="A" label="Admin">Admin</option>
    </select></dd>
    <dt id="save_user-label">&#160;</dt><dd id="save_user-element">
    <button name="save_user" id="save_user" type="button" class="btn btn-small right-floated">Save</button></dd></dl>
    </form>
</fieldset>